<div class="text-center jumbotron">
  <h1>Welcome to FANSCO</h1>
  <h2>Fans Unite!</h2>
  <h2>Get access to thousands of tennis and soccer mathces</h2>
  <div class="btn btn-success" role="button"><%= link_to "Create New Account", new_user_registration_path %></div>
  <br/>
</div>
